@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Comfortaa", "sans-serif";
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

header {
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    color: white;
    background-color: #16833a;
    background-image: linear-gradient(315deg, #16833a, #0183a7);
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 1rem;
}

a:link,
a:visited {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    cursor: pointer;
}

#menu {
    font-size: 1.2rem;
    width: 28px;
    margin: auto;
    margin-top: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    text-align: center;
    transition: 250ms;
}

#menu:hover {
    opacity: 1;
}

.hide {
    display: none;
}
