body {
    text-align: center;
}

input,
button {
    margin: 0.3rem;
    border-radius: 0.3rem;
    padding: 0.2rem;
    font-size: 0.9rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

input {
    width: 150px;
    max-width: 35vw;
}

button {
    cursor: pointer;
    opacity: 0.5;
}

button:hover {
    opacity: 1;
    transition: 250ms;
}

#inputArea {
    text-align: center;
}

:disabled {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}