@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: JetBrains Mono, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

header {
    font-size: 1.5rem;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    color: white;
    background-color: #16833a;
    background-image: linear-gradient(315deg, #16833a, #0183a7);
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
    padding-top: 2rem;
}
