body {
    text-align: center;
}

#fullbar {
    display: flex;
    margin: auto;
    display: block;
    border-radius: 8px;
    height: 10px;
    width: 400px;
    max-width: 80%;
    background-color: rgb(255, 255, 255, 0);
    padding: 0px;
    border: solid white 2px;
}

#progress {
    height: 8px;
    margin: auto;
    border-radius: 8px;
    background-color: white;
}

.action-button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 22px;
    margin-top: 14px;
}

.quote-box {
    margin: auto;
    margin-top: 5px;
    width: 400px;
    max-width: 80%;
}

input,
button {
    margin: 5px;
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
}

button {
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
}

.mode-button {
    margin-right: -5px;
}

button:hover {
    opacity: 1;
    transition: 250ms;
}

#timer {
    font-size: 35px;
}

iframe {
    border-radius: 16px;
    width: 400px;
    max-width: 80%;
    height: 200px;
}

#config-menu-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#config-menu {
    background-color: #16833a;
    background-image: linear-gradient(315deg, #16833a, #0183a7);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

#close-btn {
    color: red;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#confirm-btn {
    color: green;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}