body {
    text-align: center;
}

#fullbar {
    display: flex;
    margin: auto;
    display: block;
    border-radius: 8px;
    height: 10px;
    width: 400px;
    max-width: 80%;
    background-color: rgb(255, 255, 255, 0);
    padding: 0px;
    border: solid white 2px;
}

#progress {
    height: 8px;
    margin: auto;
    border-radius: 8px;
    background-color: white;
}

.action-button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 22px;
    margin-top: 14px;
}

.quote-box {
    margin: auto;
    margin-top: 5px;
    width: 400px;
    max-width: 80%;
}

input,
button {
    margin: 0.3rem;
    border-radius: 0.3rem;
    padding: 0.2rem;
    font-size: 0.9rem;
}

button {
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
}

.mode-button {
    margin-right: -5px;
}

button:hover {
    opacity: 1;
    transition: 250ms;
}

#timer {
    font-size: 35px;
}

iframe {
    border-radius: 16px;
    width: 400px;
    max-width: 80%;
    height: 200px;
}
