@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode-Regular.woff2') format('woff2'),
        url('/fonts/CascadiaCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Cascadia Code';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgb(49, 107, 134),
        rgb(49, 134, 106)
    );
}

header {
    font-size: 1.5rem;
}

header,
#form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    opacity: 0.8;
    border-radius: 0.6rem;
    padding: 0.3rem;
    font-family: Cascadia Code;
    font-size: 1rem;
    border: none;
}

button {
    margin: 0.3rem;
    font-size: 1.8rem;
    padding: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: rgb(189, 189, 189);
}

footer {
    text-align: center;
    font-style: italic;
    padding-top: 2rem;
}

#todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    background: rgba(255, 255, 255, 0.3);
    margin: 0.5rem;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-radius: 0.6rem;
}

.todo li {
    flex: 1;
    padding: 1rem;
}

.complete-btn {
    color: rgba(0, 255, 0, 0.7);
}

.complete-btn:hover {
    color: rgba(0, 255, 0);
}
.trash-btn {
    color: rgba(255, 0, 0, 0.7);
}

.trash-btn:hover {
    color: rgba(255, 0, 0);
}